/*-- -------------------------- -->
<---          Landing           -->
<--- -------------------------- -*/
main {
    min-height: 50em;
    background: var(--background);
}

/* Mobile */
@media only screen and (min-width: 0em) {

    .blog {
        max-width: 500px;
        margin: 0 auto;
        padding: 50px 15px;
    }

    .header-img {
        background: linear-gradient(rgba(129, 174, 208, 0.25), rgba(129, 174, 208, 0.25)), url("/images/ux-hero-1080.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        width: 100%;
        height: 175px;
        margin: 0 auto 50px;
    }

    .blog-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .blog-info img {
        border-radius: 50%;
    }

    .blog-info dl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .blog-info dl div {
        margin: 10px 0;
    }

    .blog-info dt {
        text-transform: uppercase;
        padding-bottom: 5px;
        font-weight: 400;
    }

    .blog-info dd {
        font-weight: 500;
        margin-inline-start: 15px;
    }

    .blog h1 {
        font-size: 4em;
        margin: 1em 0;
    }

    .blog-section {
        margin-bottom: 4em;
    }

    .blog-section p {
        padding-bottom: 1em;
    }

    .blog-cta {
        background: rgba(129, 174, 208, 0.2);
        margin: 1.5em 0.5em 4em;
    }

    .blog-cta p {
        padding: 1em;
    }

    .blog-section aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        padding: 20px;
        gap: 15px;

        margin: 0.5em 1em 1.5em;
        max-width: 320px;

        background: #55ACEE;
    }

    .blog-section aside blockquote {
        position: relative;
        color: white;
        font-size: 1.25em;
        font-style: italic;
        font-weight: 300;
        margin: 0;
        margin-left: 1em;
    }

    .blog-section aside blockquote::before {
        content: '“';
        position: absolute;

        font-size: 2.5em;
        top: -15px;
        left: -30px;
    }

    .blog-section aside a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;

        background: white;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        width: 10em;
        height: 4em;
        margin: 5px;
        padding: 1em;

        cursor: pointer;
    }

    .blog-section aside a p {
        padding: 0;
        font-weight: 600;
    }

    .blog-section>img {
        width: 100%;
        max-width: 300px;
        margin-top: 1em;
    }


}



/* Tablet */
@media only screen and (min-width: 48em) {

    .blog {
        max-width: 800px;
    }

    .header-img {
        height: 350px;
    }

    .blog-info {
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .blog-info dl {
        flex-direction: row;
    }

    .blog-info dl div {
        margin-left: 4em;
    }

    .blog-info dl div dd {
        margin-inline-start: 0;
    }

    .blog-cta {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .blog-section aside {
        float: right;
    }

    .blog-section>img {
        max-width: 400px;
        margin-top: 1em;
    }


}


/* Desktop */
@media only screen and (min-width: 64em) {

    .header-img {
        height: 450px;
        margin-top: 150px;
    }

    .blog-section {
        margin-bottom: 3em;
    }

}