/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

/* Fira Sans Condensed - Regular */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Condensed'), url('/fonts/FiraSansCondensed-Regular.ttf') format('truetype');
}

/* Fira Sans Condensed - Medium */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Fira Sans Condensed'), url('/fonts/FiraSansCondensed-Medium.ttf') format('truetype');
}

/* Fira Sans Condensed - SemiBold */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Fira Sans Condensed'), url('/fonts/FiraSansCondensed-SemiBold.ttf') format('truetype');
}

/* Fira Sans Condensed - Light Italic */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Fira Sans Condensed'), url('/fonts/FiraSansCondensed-LightItalic.ttf') format('truetype');
}

/* Fira Sans Condensed - Italic */
@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Condensed'), url('/fonts/FiraSansCondensed-Italic.ttf') format('truetype');
}

/* Montserrat - SemiBold */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat'), url('/fonts/static/Montserrat-SemiBold.ttf') format('truetype');
}


@media screen and (min-width: 0px) {
  body {
    font-size: 16px;
  }

  .section {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .wrapper {
    width: 100%;
    max-width: 22.5em;
    margin: auto;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .skip {
    position: absolute;
    opacity: 0;
    z-index: -1000;
  }

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  :root {
    --primary: #81AED0;
    --secondary: #D08187;
    --text: #2B2B2B;
    --background: #EEF1F3;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: "Fira Sans Condensed";
  }

  a:hover {
    cursor: pointer;
  }

  p {
    margin-bottom: 1em;
  }

  p,
  li {
    line-height: 1.5em;
    font-size: 1em;
  }

  p,
  a,
  li {
    color: var(--text);
    margin: 0;
    line-height: 1.4em;
    font-weight: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: 1.2em;
    color: var(--text);
    margin-bottom: 1.5em;
  }

  .container {
    padding: 0 0.5em;
    margin: auto;
  }

  /* hidden desktop elements */
  .topper-flex,
  #brand,
  .call-strip-button,
  .background {
    display: none;
  }

  .button-primary {
    position: relative;
    display: inline-block;
    background: var(--primary);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0.5em 0.5em 0 0 #4F4F4F;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em;
    width: 8em;
    margin: 5px;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    cursor: pointer;
  }

  .button-white {
    background: white !important;
    color: var(--text) !important;
  }

  .button-red {
    background: var(--secondary) !important;
    color: var(--text) !important;
    font-weight: 600;
  }

  .button-footer {
    background: white !important;
    color: var(--text) !important;
    font-weight: 600;
    box-shadow: 0.5em 0.5em 0 0 var(--secondary) !important;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }

  .hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 2000;
  }

  .hamburger:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .hamburger.is-active:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }

  .hamburger-box {
    width: 1.5em;
    height: 1.2em;
    display: inline-block;
    position: relative;
    z-index: 2000;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -0.1em;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 1.5em;
    height: 0.1em;
    background-color: #000;
    border-radius: 0.2em;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
  }

  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }

  .hamburger-inner::before {
    top: -0.5em;
  }

  .hamburger-inner::after {
    bottom: -0.5em;
    width: 1.5em;
  }

  /* * Spring */
  .hamburger--spring .hamburger-inner {
    top: 0.1em;
    -webkit-transition: background-color 0s 0.13s linear;
    -o-transition: background-color 0s 0.13s linear;
    transition: background-color 0s 0.13s linear;
    -webkit-transition-delay: .22s;
    -o-transition-delay: .22s;
    transition-delay: .22s;
  }

  .hamburger--spring .hamburger-inner::before {
    top: 0.5em;
    -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
    -o-transition-delay: .22s;
    transition-delay: .22s;
  }

  .hamburger--spring .hamburger-inner::after {
    top: 1em;
    -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
    -o-transition-delay: .22s;
    transition-delay: .22s;
  }

  .hamburger--spring.is-active .hamburger-inner {
    -webkit-transition-delay: 0.22s;
    -o-transition-delay: 0.22s;
    transition-delay: 0.22s;
    background-color: transparent !important;
    background: #000;
  }

  .hamburger--spring.is-active .hamburger-inner::before {
    background: #000;
    top: 0;
    -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
    transform: translate3d(0, 10px, 0) rotate(45deg);
  }

  .hamburger--spring.is-active .hamburger-inner::after {
    background: #000;
    width: 1.5em;
    top: 0;
    -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
    transform: translate3d(0, 10px, 0) rotate(-45deg);
  }

  /*-- -------------------------- -->
	<---         NAVIGATION         -->
	<--- -------------------------- -*/
  /* Hidden Elements */
  .navbar-menu img,
  .call-us,
  .quote-nav-button {
    display: none;
  }

  .main-skip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }

  .nav-comb {
    display: block !important;
    position: absolute;
    width: 26.5em;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    right: -14em;
    top: 17.5em;
    opacity: .4;
  }

  /* Top Mobile Navigation */
  .mobile-wrapper {
    height: 3.5em;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    position: relative;
    z-index: 1000;
    background: #777;
    border-bottom: 0.15em solid var(--primary);
  }

  .mobile-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    z-index: 100;
    background: #fff;
  }

  .hamburger {
    position: absolute;
    right: 0.5em;
    top: 1.1em;
  }

  /* Navigation Links */
  .mobile-wrapper img {
    height: 3.9em;
    margin-top: 0.25em;
  }

  .navbar-menu {
    background: var(--text);
    width: 0;
    position: absolute;
    right: 0;
    height: 100%;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 1000;
    max-width: 62.5em;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .side-nav {
    pointer-events: none;
    position: relative;
    padding: 2em 0;
    position: absolute;
    right: 2em;
    visibility: hidden;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
  }

  .side-nav ul {
    margin: 0;
    text-align: right;
    list-style: none;
    margin-top: 2.5em;
    transform: translateX(0.5em);
  }

  .side-nav ul li {
    margin-bottom: 1em;
  }

  .side-nav a {
    text-decoration: none;
    padding: 0.25em 0.5em 0.25em 0.5em;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 0;
    visibility: hidden;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    font-size: 1.25em;
  }

  #active-menu {
    border-right: 0.2em solid var(--primary);
    color: var(--primary);
  }
}

/* Ipad Pro */
@media screen and (min-width: 450px) and (max-width: 991px) {
  .container {
    max-width: 45em;
  }

  .mobile-nav {
    width: 100% !important;
    max-width: 100% !important;
  }
}

/* Tablets */
@media screen and (min-width: 750px) and (max-width: 1023px) {
  .mobile-nav {
    max-width: 100%;
  }

  p {
    font-size: 1em;
  }
}

/* Small Desktop */
@media screen and (min-width: 1024px) {
  .mobile-nav {
    max-width: 100%;
  }

  section {
    padding: 5em 0.5em;
  }

  p {
    font-size: 1em;
  }

  /* Hidden Elements */
  .mobile-wrapper,
  .nav-comb {
    display: none !important;
  }

  /* Un-Hidden Elements */
  .side-nav a {
    opacity: 1;
    visibility: visible;
  }

  .quote-nav-button {
    display: block;
  }

  .container {
    max-width: 55em;
  }

  /*navbar */
  nav {
    width: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 5em;
  }

  .navbar-menu {
    width: 96%;
    min-height: 5em;
    height: 7.65em;
    margin: auto;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 10000;
    left: 0;
    background: transparent;
    overflow: visible;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 57.2em;
  }

  .navbar-menu .nav-logo {
    margin: 0 !important;
    position: absolute;
    left: 0;
    height: auto;
    width: 9em;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }

  .navbar-menu .nav-logo:before {
    display: none;
  }

  .navbar-menu .nav-logo img {
    width: 100%;
    height: auto;
  }

  .navbar-menu .nav-logo img {
    display: block;
  }

  body {
    position: relative;
    font-size: 20px;
  }

  body::before {
    content: '';
    top: 0;
    width: 100%;
    height: 7.4em;
    background: #fff;
    position: fixed;
    z-index: 1000;
    left: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  #on-top {
    margin-right: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .side-nav {
    padding: 0;
    width: 100%;
    max-width: 72.5em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    right: 0;
    background: transparent;
    border-radius: 5px;
    pointer-events: initial;
  }

  .side-nav ul {
    margin-top: 0;
    transform: translateX(0);
  }

  .side-nav ul li {
    margin: 0 0 0 0.83333333em;
    text-align: right;
    color: #fff;
    font-size: 0.9em;
  }

  .side-nav ul li:hover a.link {
    color: #fff;
  }

  .side-nav ul li:hover a.link:before {
    width: 100%;
    opacity: 1;
    transform: translateY(-50%) scaleX(1);
  }

  .side-nav a {
    padding: 0 1.38888889em;
    color: #000;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    font-size: 1em;
    text-transform: capitalize;
    position: relative;
    font-weight: bold;
  }

  .side-nav a:before {
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    content: '';
    background: var(--primary);
    height: 2.22222222em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(0);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s, transform .3s;
  }

  .side-nav a#active-menu {
    position: relative;
    border: none;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
  }

  .side-nav a#active-menu:before {
    cursor: pointer;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    content: '';
    background: var(--primary);
    height: 2.22222222em;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 1;
    transition: opacity .3s, transform .3s;
  }

  .button-primary:hover {
    transform: translate(4px, 4px);
    box-shadow: 0.25em 0.25em 0 0 #4F4F4F;
  }

  .button-footer:hover {
    transform: translate(4px, 4px) !important;
    box-shadow: 0.25em 0.25em 0 0 var(--secondary) !important;
  }

}

@media screen and (min-width: 375px) and (max-width: 599px) {

  .side-nav ul li {
    margin-bottom: 2em;
  }

  .side-nav a {
    font-size: 1.5em;
  }

}

@media screen and (min-width: 600px) and (max-width: 1023px) {

  .side-nav ul li {
    margin-bottom: 3em;
  }

  .side-nav a {
    font-size: 1.75em;
  }

}

/* Regular Desktop */
@media screen and (min-width: 1300px) {
  .side-nav .schedule a {
    display: block;
  }
}

@media only screen and (min-width: 2000px) {
  body {
    font-size: 1vw;
  }
}


/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {

  #footer {
    background: var(--text);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  #footer::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: var(--primary);
    background-size: 100%;
    bottom: -75px;
    left: -75px;
    z-index: -1;
  }

  #footer h3 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  #footer ul {
    padding: 0;
    margin: 2em;
  }

  #footer ul li {
    display: block;
    padding: 0.35em 0;
    font-size: 1.25em;
  }

  #footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
  }

  #footer .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    padding: 5em 0 2.5em;
  }

  #footer .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  #footer .logo {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-self: flex-start;
  }

  #footer .logo img {
    width: 75%;
    margin-left: 2.5em;
  }

}

@media only screen and (min-width: 38em) {

  #footer::after {
    height: 300px;
    width: 300px;
    bottom: -125px;
    left: -125px;
  }

  #footer .button-footer {
    padding: 0.75em;
    width: 10em;
  }

  #footer .footer-bottom {
    flex-direction: row;
    margin-bottom: 3em;
  }

  #footer ul {
    margin: 0 2em 0 0;
  }

  #footer .logo {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-self: inherit;
  }

}

@media only screen and (min-width: 64em) {

  #footer ul li a:hover {
    color: var(--primary)
  }

}

@media only screen and (min-width: 81em) {

  #footer::after {
    height: 600px;
    width: 600px;
    bottom: -275px;
    left: -275px;
  }

  #footer h3 {
    font-size: 3em;
    margin-bottom: 0.75em;
  }

  #footer .logo img {
    width: 100%;
  }



}